@model WeddingMVC.Models.Quiz

@{
    ViewBag.Title = "Email";
    Layout = null;
}

<table>
    <tr>
        <th>question</th>
        <th>answer</th>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.IsExist)</td>
        <td>@Model.IsExist</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.FavouriteColor)</td>
        <td>@Model.FavouriteColor</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.FavouriteSong)</td>
        <td>@Model.FavouriteSong</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Blood)</td>
        <td>@Model.Blood</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.PopcornIsCool)</td>
        <td>@Model.PopcornIsCool</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.FootSize)</td>
        <td>@Model.FootSize</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.WhyIsCactusPrickly)</td>
        <td>@Model.WhyIsCactusPrickly</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.YellowOrGreen)</td>
        <td>@Model.YellowOrGreen</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.CapitalOfBrazil)</td>
        <td>@Model.CapitalOfBrazil</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.AboutUs)</td>
        <td>@Model.AboutUs</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Joke)</td>
        <td>@Model.Joke</td>
    </tr>
</table>